body{
    background-color:#F5FFFA;
    font-family: 'Poppins', sans-serif;
}
.container{
    text-align: center;
    width: 100%;
    margin: 30px auto;
}
.dice{
    display: inline-block;
    text-align: center;
}
#rollBtn{
    align-content: center;
}
h1{
    font-size: 45px;  
}
img{
    width: 80%;
}
footer{
    margin-top: 5%;
    text-align: center;
    width: 100%;
}